@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 1rem;
}

body {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.c-field-control {
  margin: 1.5rem;
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
  padding-block-end: 0.5rem;
  border-right: none;
  border-left: none;
  border-top: none;
  border-bottom: 1px solid var(--color-grey);
}
.c-field-control::placeholder {
  color: var(--color-grey);
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-grey-light: #f5f5f5;
  --color-grey: #cccccc;
  --color-grey-dark: #333333;
  --color-warning: #ff9b51;
}

body {
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 3.5rem;
  color: var(--color-white);
}
@media (min-width: 991px) {
  h1 {
    font-size: 5rem;
  }
}
h1 span {
  color: var(--color-warning);
  font-weight: 100;
}
@media (min-width: 991px) {
  h1 span {
    font-size: 5rem;
  }
}

h2 {
  color: var(--color-white);
  text-transform: uppercase;
  font-weight: normal;
  padding-block-end: 2rem;
}
@media (min-width: 991px) {
  h2 {
    font-size: 2.3rem;
  }
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.3rem;
  color: var(--color-white);
  background-color: var(--color-warning);
}

h5 {
  font-size: 0.875rem;
  font-weight: 100;
}

p {
  font-weight: 100;
  color: var(--color-grey);
}

a {
  font-style: normal;
}

/*** Header section  ***/
.c-header-section {
  position: sticky;
  top: 0;
  z-index: 999;
  overflow: hidden;
  background-color: var(--color-black);
  padding: 1rem 1.5rem;
}

/*** Footer section  ***/
.c-footer {
  background-color: var(--color-black);
  padding-block-start: 1rem;
}
.c-footer h5 {
  color: var(--color-grey);
  padding-block-end: 1rem;
}

.c-footer__icons {
  max-width: 100vw;
  margin: 0 auto;
  color: var(--color-grey);
}

.nav__header {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 991px) {
  .nav__header {
    max-width: 75rem;
    margin: 0 auto;
  }
}
.nav__header .nav__logo {
  font-size: 1.5rem;
  padding-block-start: 0.7rem;
}
.nav__header .nav__logo--white {
  color: var(--color-white);
}
.nav__header .nav__toggle {
  width: 3rem;
  height: 3rem;
  border: none;
  background-color: transparent;
  color: var(--color-white);
}
@media (min-width: 991px) {
  .nav__header .nav__toggle {
    display: none;
  }
}

.links__container {
  display: none;
  background-color: var(--color-black);
}
@media (min-width: 991px) {
  .links__container {
    display: flex;
  }
}
.links__container a {
  color: var(--color-white);
  margin: 1rem;
  font-size: 1.5rem;
  text-align: center;
}
.links__container a:hover {
  color: var(--color-warning);
}
@media (min-width: 991px) {
  .links__container a {
    font-size: 0.875rem;
    margin-inline-start: 2rem;
    margin-inline-end: 2rem;
  }
}

.active-menu {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -10;
}
.active-menu a {
  padding-block-start: 1rem;
  padding-block-end: 1rem;
  font-size: 2rem;
}
.active-menu a:first-child {
  margin-block-start: 30vh;
}

.c-icon {
  display: inline-block;
  fill: currentColor;
  width: 1.875rem;
  height: 1.875rem;
  margin: 0.5rem;
}

/***  Hero section  ***/
.c-hero-section {
  min-height: 70vh;
  background: url("../images/hero-image.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-hero-pitch {
  padding-block-start: 1rem;
}

.c-form {
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  margin-block-start: 2rem;
  margin-block-end: 2rem;
  margin-inline-end: 2rem;
  margin-inline-start: 2rem;
}
@media (min-width: 1024px) {
  .c-form {
    margin-block-start: 2.5rem;
    max-height: 25rem;
  }
}
.c-form h3 {
  margin-block-end: 1rem;
  padding-block-start: 1rem;
  padding-block-end: 1rem;
  background-color: var(--color-grey-light);
}
.c-form h4 {
  padding-block-start: 1.5rem;
  padding-block-end: 1.5rem;
  margin-block-start: 2rem;
}

.c-grid {
  display: grid;
}

.c-grid--two {
  grid-template-columns: 1fr;
}
@media (min-width: 1024px) {
  .c-grid--two {
    grid-template-columns: 1fr 1fr;
  }
}

.c-grid--gap {
  grid-gap: 2rem;
}

.u-container {
  max-width: 75rem;
  margin: 0 auto;
}

.u-mx {
  margin-inline-start: 2rem;
  margin-inline-end: 2rem;
}

.u-svg-size {
  padding-block-start: 1.5rem;
  padding-block-end: 1.5rem;
  margin-inline-start: 1rem;
  margin-inline-end: 1rem;
}

.u-line {
  height: 2px;
  width: 84px;
  border: none;
  margin-block-end: 2rem;
}

.u-bkg-white {
  background-color: var(--color-white);
}

.u-color-warning {
  color: var(--color-warning);
}

.u-text-center {
  text-align: center;
}

.u-text-uppercase {
  text-transform: uppercase;
}

.c-btn {
  padding: 0.625rem 1.875rem;
  text-align: center;
  font-size: 1.125rem;
  border: none;
  background-color: transparent;
  color: var(--color-white);
  border: 2px solid var(--color-white);
}

.c-btn--size {
  margin-block-start: 2rem;
  margin-block-end: 2rem;
}

/*# sourceMappingURL=style.css.map */
