* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 1rem;
}

body {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
}

.c-field-control {
    margin: 1.5rem;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    padding-block-end: 0.5rem;
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 1px solid var(--color-grey);

    &::placeholder {
        color: var(--color-grey);
    }
}

.text-center {
    text-align: center;
}

.text-uppercase {
    text-transform: uppercase;
}
