.c-btn {
    padding: 0.625rem 1.875rem;
    text-align: center;
    font-size: 1.125rem;
    border: none;
    background-color: transparent;
    color: var(--color-white);
    border: 2px solid var(--color-white);
}

.c-btn--size {
    margin-block-start: 2rem;
    margin-block-end: 2rem;
}

.c-btn--block {
    padding-block-start: 1.5rem;
    padding-block-end: 1.7rem;
    margin-block-start: 2rem; 
}

.c-btn--warning {
    background-color: var(--color-warning);
    border: none;
}

