/***  Hero section  ***/
.c-hero-section {
    min-height: 70vh;
    background: url('../images/hero-image.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-hero-pitch {
    padding-block-start: 1rem;
}

.c-form {
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    margin-block-start: 2rem;
    margin-block-end: 2rem;
    margin-inline-end: 2rem;
    margin-inline-start: 2rem;

    @media (min-width: $mobile) {
        margin-block-start: 2.5rem;
        max-height: 25rem;
    }

    h3 {
        margin-block-end: 1rem;
        padding-block-start: 1rem;
        padding-block-end: 1rem;
        background-color: var(--color-grey-light);
    }
}

// Social Media section
.c-social-icons {
    color: var(--color-grey);
}

.c-social-container {
    text-align: center;
    
    @media (min-width: $mobile) {
        text-align: left;
        display: flex;
        justify-content: space-between;
        margin-inline-start: 2rem;
        margin-inline-end: 1rem;
    }
}

/*** Testimonials section ***/
.c-testimonials-section {
    padding-block-start: 7rem;
    padding-block-end: 7rem;
}

.c-testimonials__title {
    margin-block-start: 3rem;
    color: var(--color-grey-black);
}

.c-testimonials__card {
    margin-block-start: 4rem;
    text-align: center;

    @media (min-width: $desktop) {
        text-align: left;
    }
}

.c-testimonials__desc {
    margin-block-end: 2rem;
    padding: 1rem;
    background-color: var(--color-grey-light);
    position: relative;

    &::before {
        content:'';
        display:block;
        width:0;
        height:0;
        position:absolute;
    
        border-bottom: 1rem solid transparent;
        border-right: -1rem solid transparent;
        border-right: 1rem solid var(--color-grey-light);
        bottom: -1rem;
        left: 41%;
        transform: rotate(135deg);
        margin-block-end: 0.5rem;

        @media (min-width: $desktop-md) {
            left: 1.5rem;
        }
    }
}

.c-textimonials__content {
    display: flex;
    justify-content: center;

    @media (min-width: $desktop-md) {
        justify-content: start;
    }

    .c-testimonials__info {
        margin-inline-start: 1rem;
        margin-block-start: 0.5rem;
    }
}



/*** Stylish section ***/
.c-stylish-section {
    min-height: 30vh;
    background: url('../images/custom-img.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-stylish__title {
    margin-block-start: 3rem;
    color: var(--color-white);
}


/*** Contact section ***/
.c-contact-section {
    margin-block-end: 4rem;
}

.c-contact__title {
    margin-block-start: 4rem;
    padding-block-start: 2rem;
    color: var(--color-grey-black);
}





