/***  Hero section  ***/
.c-hero-section {
    min-height: 70vh;
    background: url('../images/hero-image.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-hero-pitch {
    padding-block-start: 1rem;
}

.c-form {
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    margin-block-start: 2rem;
    margin-block-end: 2rem;
    margin-inline-end: 2rem;
    margin-inline-start: 2rem;

    @media (min-width: $mobile) {
        margin-block-start: 2.5rem;
        max-height: 25rem;
    }

    h3 {
        margin-block-end: 1rem;
        padding-block-start: 1rem;
        padding-block-end: 1rem;
        background-color: var(--color-grey-light);
    }
}

// Social Media section
.c-social-icons {
    color: var(--color-grey);
}

.c-social-container {
    text-align: center;
    
    @media (min-width: $mobile) {
        text-align: left;
        display: flex;
        justify-content: space-between;
        margin-inline-start: 2rem;
        margin-inline-end: 1rem;
    }
}



/*** Stylish section ***/
.c-stylish-section {
    min-height: 30vh;
    background: url('../images/custom-img.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-stylish__title {
    margin-block-start: 3rem;
    color: var(--color-white);
}


/*** Contact section ***/
.c-contact-section {
    margin-block-end: 4rem;
}

.c-contact__title {
    margin-block-start: 4rem;
    padding-block-start: 2rem;
    color: var(--color-grey-black);
}





