.c-icon {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    fill: currentColor;

    svg {
        width: 1.875rem;
        height: 1.875rem;
    }
}

.c-icon--size {
    margin-inline-end: 1rem;

    @media (min-width: $mobile-sm) {
        margin-inline-end: 0;
    }
}


